.header {
    width: 100%;
    height: 82px;
    background-color: black;
    margin: 0 auto;
    position: relative;
}

.header_img {
    position: absolute;
    background-color: black;
    width: 370px;
    height: 36px;
    top: 22px;
    left: 25px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header {
        height: 90px;
    }

    .header_img {
        width: 400px;
        height: 40px;
        top: 25px;
        left: 30px;
    }
}