.content {
    background-color: #FDFEFE;
}

.login-form {
    max-width: 680px;
    margin: 0 auto;
    padding: 40px 20px;
}

.login-form__inner {
    margin-top: 20px;
}

.login-form__form {
    padding: 64px 32px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
}

.login-form_title {
    color: #000000;
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    vertical-align: middle;
}

.login-form__group+.login-form__group {
    margin-top: 80px;
}

.login-form__label {
    width: 100%;
    height: 36px;
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 100%;
    font-family: 'Inter', sans-serif;
}

.login-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: serif;
}

.login-form__btn {
    color: #FFFFFF;
    background-color: #000000;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    border-radius: 5px;
    line-height: 100%;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    vertical-align: middle;
}

.login-form__error-message {
    color: red;
    font-size: 20px;
    margin-top: 5px;
}

.form_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
    width: 100%;

}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .login-form {
        max-width: 900px;
        padding: 50px 40px;
        margin: 50px auto;
    }

    .login-form__form {
        padding: 70px 40px;

    }

    .login-form__group+.login-form__group {
        margin-top: 90px;

    }

    .form_button {
        margin-top: 90px;
        gap: 20px;
    }
}