.mail_notice--div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
}

.mail_notice--content {
    text-align: center;
}

.alert_message {
    font-weight: 700;
    font-size: 24px;
    font-style: bold;
    line-height: 100%;
    color: #000000;
    text-align: center;
    margin-bottom: 70px;
}

.mail_resend--button {
    display: block;
    margin: 0 auto;
    width: 257px;
    height: 69px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #D9D9D9;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}


.mail_resend--again {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #0073CC;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-top: 60px;
    text-decoration: none;
}

.notice_resend--alert {
    font-size: 20px;
    color: red;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .mail_notice--content {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}